html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

nav,
main {
    margin: 50px auto;
    max-width: 600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

.results {
    border-top: solid 1px #eee;
}

.results li {
    display: table;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.results div {
    display: table-cell;
    vertical-align: middle;
}

.results img {
    display: table-cell;
    vertical-align: middle;
    margin-right: 20px;
}

.results span {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

.search input,
.search button {
    display: table-cell;
    width: 450px;
    padding: 10px 20px;
    font-size: inherit;
    font-family: inherit;
    border: solid 1px #ccc;
}

.search button {
    background: #eee;
    border-left: none;
    width: 150px;
}

pre {
    border-radius: 3px;
    padding: 10px;
    background: #eee;
}
