* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-image: linear-gradient(#212c39,#121e3d 50%,#000);
}

h2 {
  margin-bottom: 20px;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  background-color: #333;

  &:after {
    content: "";
    display: table;
    width: 100%;
  }
}

.content {
  padding: 20px;
  float: left;
  width: 75%;
  margin: auto;
  background-color: #fff;


  ul {
    margin-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.hero {
  padding: 100px 20px;
  background-color: #eee;
}

dt, dd {
  display: inline-block;
  width: 50%;
  border-bottom: solid 1px #ccc;
  color: #b3b3b3;
  padding-top: 20px;
  padding-bottom: 20px;
}

dd {
  color: #333;
}

@import "./features/header/header";
@import "./features/sidebar/sidebar";
